/* general */

body {
  padding: 0 1rem;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  font-family: helvetica, montserrat, "urw gothic", sans-serif;
}

textarea, input, button {
  padding: 0.3rem 0.5rem 0.1rem;
  border: 1px solid gray;
  margin-right: -1px;
  margin-bottom: -1px;
  font-family: inherit;
  font-size: inherit;
}

input[type=file] {
    border: none;
}

textarea {
    font-family: monospace;
    resize: vertical;
    display: block;
    width: calc(100% - 1rem);
}

button:enabled, input[type=submit] {
  cursor: pointer;
}

body > * {
  width: 90rem;
}

form {
    display: inline;
}

li.deleted {
  display: flex;
  align-items: center;
  justify-content: begin;
  padding-left: 1em;
  color: gray;
}

label {
  display: inline-block;
  width: 10rem;
  max-width: 10%;
}

label::after {
  content: " : ";
}




/* lists */

ul {
  list-style: disc;
}

ol {
  list-style: revert;
}

.item {
  list-style: none;
}

.tag {
  border: 1px solid #aaa;
  padding: 0 0.2rem 0 0.2rem;
  background: #ffd;
  border-radius: 0.2rem;
}

ul > ul {
  border-left: 1px solid #aaa;
}

/*
ol li:nth-child(odd) {
    background: #fff;
}

ol li:nth-child(even) {
}
*/

.main > ul, .main > ol {
  padding: 0;
  margin: 0;
}

#top span {
  margin-right: 1rem;
}

#top .user {
  float:right;
  margin-right: 0;
}

.login {
  background: inherit;
  border: none;
  padding: 0;
}

.score {
    filter: opacity(0.8);
    font-size-adjust: 0.4;
}

#captcha {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid gray;
}

input.arrow {
/* Remove the button like styling of the voting arrows */
/* (They are only buttons to use POST requests because of state change) */
  font-family: monospace;
  cursor: pointer;
  box-shadow: none;
  padding: 0;
  margin: 0;
  display: block;
  border: none;
  background: none;
  font-weight: normal;
  font-size: smaller;
}

input.arrow[disabled] {
/*  cursor: not-allowed; */
  cursor: default;
  filter: opacity(0.3);
}

.voting {
  text-align: center;
  padding-right: 0.3rem;
  margin-right: 0.3rem;
}

.item {
  display: flex;
  padding-bottom: 0.5em;
}

.title_line {
    max-width: 5oem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a.title_line:visited{
  color: #999;
}
  
a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

hr {
  border-top: 1px solid #999;
  margin: 0.5rem auto;
  border-bottom: none;
  border-left: none;
  border-right: none;
}


#bottom, #pagination {
  margin-bottom: 1rem;
  text-align: center;
}

#search {
    font-size: larger;
}

#search>form>input[type=search]{
    min-width: 30em;
}
